#projects{
    /* margin-top: 10%; */
    padding: 50px;
    /* border: 2px solid red; */
    height: 87vb;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#projects:hover{
    background-color:light;
}
#projects h2{
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
}
.project-details{
   display: inline;
   border: 2px solid #ddd;
   gap: 20px;
}
.common-project-div:hover{
    background-color: rgb(129, 211, 211);
    border-radius: 20px;
}
.project-details img{
    width: 50%;
    height: 80%;
    margin-top: 10px;
    /* margin-left: -1.6px; */
}
.project-details p{
    width: 50%;
    line-height: 2rem;
    margin-left: 50%;
    font-size:1.3rem;
    text-align: justify;
    list-style: none;
    word-spacing: normal;
    font-family:cursive;
    margin-top: -18%;
}
.language{
    width:10%;
    height: 10%;
    display: flex;
    flex-direction: row;
    gap: 20vb;
    margin-top: 5%;
    margin-left: 20%;
    /* justify-content: space-around; */
}
.live-git-icons #github {
    width:3%;
    height: 5%;
    margin-left: 10%;
    padding: 5px;
    transition: transform .2s; 
    border-radius: 50%;
}
.live-git-icons #github:hover{
    transform: scale(1.4);
}
.live-git-icons #live {
    width:3%;
    height: 5%;
    margin-left: 13%;
    padding: 5px;
    transition: transform .2s; 
}
.live-git-icons #live:hover{
    transform: scale(1.4);
}
.live-git-icons{
    /* display: flex; */
    flex-direction: row;
    gap: 10px;
    
}
@media screen and (max-width:320px){
    #projects{
        margin-top: 330%;
        padding: 50px;
        /* border: 2px solid red; */
        height: 30vb;
        width: 60%;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }
    #projects:hover{
        background-color:light;
    }
    #projects h2{
        text-align: center;
        font-size: 2.5rem;
        text-transform: uppercase;
        margin-left: -15%;
    }
    .project-details{
       display: inline;
       border: 2px solid #ddd;
       gap: 20px;
    }
    .project-details img{
        width: 150%;
        height: 80%;
        margin-top: 5px;
        margin-left: -30px;
    }
    .project-details p{
        width: 150%;
        line-height: 2rem;
        margin-left: -25%;
        font-size:1rem;
        text-align: justify;
        list-style: none;
        word-spacing: normal;
        font-family:cursive;
        margin-top: 20%;
    }
    .common-project-div:hover{
        background-color:white;
        
    }
    .language{
        width:10%;
        height: 10%;
        display: flex;
        flex-direction: row;
        gap: 10vb;
        margin-top: 5%;
        margin-left: 20%;
        /* justify-content: space-around; */
    }
    .live-git-icons #github {
        width:13%;
        height: 15%;
        margin-left: 10%;
        padding: 5px;
        transition: transform .2s; 
        border-radius: 50%;
    }
    .live-git-icons #github:hover{
        transform: scale(1.4);
    }
    .live-git-icons #live {
        width:13%;
        height: 5%;
        margin-left: 13%;
        padding: 5px;
        transition: transform .2s; 
    }
    .live-git-icons #live:hover{
        transform: scale(1.4);
    }
    .live-git-icons{
        /* display: flex; */
        flex-direction: row;
        gap: 10px;
        
    }   
}
@media screen and (max-width:768px){
    #projects{
        margin-top: 100%;
        padding: 50px;
        /* border: 2px solid red; */
        height: 30vb;
        width: 90%;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }
    #projects:hover{
        background-color:light;
    }
    #projects h2{
        text-align: center;
        font-size: 2.5rem;
        text-transform: uppercase;
        margin-left: -15%;
    }
    .project-details{
       display: inline;
       border: 2px solid #ddd;
       gap: 20px;
    }
    .project-details img{
        width: 150%;
        height: 80%;
        margin-top: 5px;
        margin-left: -30px;
    }
    .project-details p{
        width: 100%;
        line-height: 2rem;
        margin-left: -5%;
        font-size:1rem;
        text-align: justify;
        list-style: none;
        word-spacing: normal;
        font-family:cursive;
        margin-top: 7%;
    }
    .common-project-div:hover{
        background-color:white;
        
    }
    .language{
        width:2%;
        height: 10%;
        display: flex;
        flex-direction: row;
        gap: 10vb;
        margin-top: 1%;
        margin-left: 43%;
        /* justify-content: space-around; */
    }
    .live-git-icons #github {
        width:5%;
        height: 15%;
        margin-left: 10%;
        padding: 5px;
        transition: transform .2s; 
        border-radius: 50%;
    }
    .live-git-icons #github:hover{
        transform: scale(1.4);
    }
    .live-git-icons #live {
        width:5%;
        height: 5%;
        margin-left: 35%;
        padding: 5px;
        transition: transform .2s; 
    }
    .live-git-icons #live:hover{
        transform: scale(1.4);
    }
    .live-git-icons{
        /* display: flex; */
        flex-direction: row;
        gap: 10px;
        
    }   
}